.idea
/lib
node_modules
.DS_store
**/.DS_Store
.env*
/*.js

dist
coverage

api/
services/
models/
subscribers/
migrations/
loaders/
index.*
dev_4g12hs_eng.*
docs.md
!src/**

./tsconfig.tsbuildinfo
./package-lock.json
./yarn.json